SECRET_KEY=change-me
DEBUG=True

DATABASE_NAME=your_database_name
DATABASE_USER=your_database_user
DATABASE_PASSWORD=your_database_password
DATABASE_HOST=localhost
DATABASE_PORT=5432

# CEMS local data
CEMS_DATA_ROOT=data/cems

# GeoServer
GEOSERVER_URL=http://localhost:8080/geoserver
GEOSERVER_USER=your_geoserver_user
GEOSERVER_PASSWORD=your_geoserver_password

GEOSERVER_WORKSPACE=cems
GEOSERVER_DATASTORE=cems_postgis

# PostGIS connection for ogr2ogr
OGR_POSTGIS_HOST=localhost
OGR_POSTGIS_PORT=5432
OGR_POSTGIS_DB=your_database
OGR_POSTGIS_USER=your_database_user
OGR_POSTGIS_PASSWORD=your_database_password

# PostGIS connection as seen from GeoServer container
GEOSERVER_POSTGIS_HOST=postgis
GEOSERVER_POSTGIS_PORT=5432
GEOSERVER_POSTGIS_DB=your_database
GEOSERVER_POSTGIS_SCHEMA=public
GEOSERVER_POSTGIS_USER=your_database_user
GEOSERVER_POSTGIS_PASSWORD=your_database_password